*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.mydada{
    background-color: black;
    position: static;
}


.myblack{
    
    background-color: black;
    color: azure;
    margin-left: 0%;
width: 100%;
}
